<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SwagLabs Mobile Automation Suite">

    <test name="SwagLabs Tests">

        <classes>

            <class name="tests.AppLoginTest"/>
            <class name="tests.PurchaseTest"/>
            <class name="tests.MultipleProductTest"/>
            <class name="tests.RemoveProductTest"/>
            <class name="tests.LogoutTest"/>

        </classes>

    </test>

</suite>